*{
    margin:0;
    padding:0;
    
}
#header{
    height:700px;
    
    background-image: url(file:///C:/Users/SANKIRTANA/Desktop/virusususus.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    margin-right: 50px;
    margin-left: 50px;
}
.logo{
    margin-top: 10px;
    width:100px;
}